*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFBEF;
}

/*header*/
/*{*/
/*    background-image: url(../images/breakfastpic.jpg);*/
/*    height: 100vh;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

.background{
    background-image: url(../images/breakfastpic.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
}


.navigation-bar{
    float: right;
    list-style: none;
    margin-top: 20px;
}

.navigation-bar li{
    display: inline-block;
    width: auto;
    height: auto;
    /*padding: 10px 5px;*/
}

.navigation-bar li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: bold;
    width: auto;
}

.active{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid white;
    padding: 10px 25px;
}

.active:hover{
    color: white;
    background-color: black;
    border: 3px black;
}

.navigation-bar li a:hover{
    border: 3px solid white;
    color: black;
    background-color: white;
}

.logo img{
    width: 100px;
    /*height: auto;*/
    float: left;
    padding-top: 5px;
    border-radius: 50%;
    
    
}

body{
    font-family: monospace;
}

.row{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    width: 1200px;
    margin-left: 30px;
    margin-top: 0px;
}

h1{
    color: white;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, Serif;
    font-size: 75px;
    text-align: center;
    margin-top: -215px;
    margin-left: 55px;
    text-shadow: 0 0 50px #A9D9FE; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 50px #A9D9FE;
    -webkit-text-shadow: 0 0 50px #A9D9FE;
}