body {
    /*background-color: #FFF8E2;*/
    background-color: #FFFBEF;
}

.main{
    /*margin: 0;*/
    /*padding: 0;*/
    display: flex;
    font-family: Century Gothic;
    font-weight: bold;
    color: black;
    float: right;
    background-color: white;
}



header{
    /*background-image: url(../images/breakfastpic.jpg);*/
    /*height: 50vh;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    background-color: #FFFBEF;
    
}


#logo{
    display: flex;
    text-align: center;
    border-bottom: none;
}

.background{
    background-image: url(../images/breakfastpic.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
}

ul{
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
    
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 25px;
    font-size: larger;
    border: 2px solid black;
}

ul li a: hover{
    background-color: #fff;
    color: #000;
}
