#about{
    font-family:'Hind Guntur', sans-serif;
    color: white;
    font-size:40px;
}

h2{
    font-family:'Hind Guntur', sans-serif;
    color: red;
    font-size:30px;
}

h3{
    font-family:'Hind Guntur', sans-serif;
    color: lightgreen;
    font-size: 30px;
}

p1{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 25px;
    line-height:2;
    color:white;
}

.footer {
  width: 300px;
  border: 15px solid green;
  border-color:white;
  padding: 50px;
  margin: 20px;
  font-family:'Hind Guntur', sans-serif;
  color:yellow;
  font-size:22px;
  line-height:2;
}


.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size:60px;
  font-family: 'Paytone One', sans-serif;
  text-align:center;
  font-weight:bold;
}
body{background-color:rgb(0,0,0);
background-image:url(http://www.zingerbugimages.com/backgrounds/rainbow_stars.gif);
background-position:top left;background-repeat:repeat;background-attachment:fixed;}