<!DOCTYPE html>
<!DOCTYPE html>
<html>
    

<head>



  <link rel="stylesheet" href="about.css">
</head>
<body> 
<div class="row">
           <div class="logo">
           <img src="../images/logo.jpg" alt="Logo" >
           </div>
           <ul class="navigation-bar">
               <!--<img id="logo" src="../images/logo.jpg" alt="Logo" height=150px width=150px>-->
               <li class="active"><a href="welcome">Home</a></li>
               <li><a href="meals">Create Your Meal</a></li>
               <li><a href="history">History</a></li>
               <li><a href="about">About Us</a></li>
               <li><a href="contact">Contact Us</a></li>
           </ul>
           </div>
<span class="rainbow">Rise and Dine: The breakfast App<style>
    td:last-child { font-size: 3em; }
    tr:first-child td:last-child { font-size: 1em; }
    th { text-align: left; font-weight: normal; }
</style>
<tabl
        <td>&#x02122;   
 </span>
<h1 id ="about"> About us <style>
    td:last-child { font-size: 3em; }
    tr:first-child td:last-child { font-size: 1em; }
    th { text-align: left; font-weight: normal; }
</style>

        <td>&#10026;</h1>
<h2> Our Mission Statement:</h2>
<p1> Tired of the same old breakfast? Dont worry Rise and Dine has a solution for you! Rise and Dine is a new way to your best breakfast ever!!! Rise and Dine is an interactive individual breakfast experience that generates you a new breakfast and the recipe for that breakfast. Rise and Dine has a feature in the app that collects your breakfast history so your not likely to have the same breakfast again. On a budget? Don't worry Rise and Dine prides itself on making all the meals on this app afordable and easy to make. With Rise and Dine breakfast has reached another level.</p1>
<h3> Don't believe us? Trust the million of Rise and Dine users who have left satisfied with their new breakfast routine </h3>
<div class="footer">
    utsab_saha: "This breakfast App is out of this Galaxy" review:<style>
    td:last-child { font-size: 3em; }
    tr:first-child td:last-child { font-size: 1em; }
    th { text-align: left; font-weight: normal; }
</style>

        <td>&#x02605;   
        <td>&#9733; 
        <td>&starf;
        <td>&starf;
        <td>&bigstar; 
</div>
</body>

</html>