<!--<!DOCTYPE html>-->
<!--<!DOCTYPE html>-->
<!--<html>-->
    

<!--<head>-->



<!--  <link rel="stylesheet" href="contact.css">-->
<!--</head>-->
<!--<body> -->
<!--    <header> -->
<!--            <div class="background">-->
<!--                <div class="row">-->
<!--                    <div class="logo">-->
<!--                        <img src="../images/logo.jpg" alt="Logo" >-->
<!--                    </div>-->
<!--                <ul class="navigation-bar">-->
                <!--<img id="logo" src="../images/logo.jpg" alt="Logo" height=150px width=150px>-->
<!--                    <li class="home"><a href="welcome">HOME</a></li>-->
<!--                    <li><a href="meals">CREATE YOUR MEAL</a></li>-->
<!--                    <li><a href="history">HISTORY</a></li>-->
<!--                    <li><a href="about">ABOUT US</a></li>-->
<!--                    <li><a href="contact">CONTACT US</a></li>-->
<!--                </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--                <div class="name">-->
<!--                    <img src="..images/picofus.jpg" alt="Logo">-->
<!--                </div>-->
<!--            <div class= "bottom_text"> -->
<!--            <p1> vofkvofkvofkvo</p1>-->
<!--            </div>-->

<!--</header>   -->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8">
       <title>Breakfast 4 You.</title>
       <link rel="stylesheet" href="style1.css">
       <link type= "text/css" rel="stylesheet" href="../static/style1.css">
       <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
   </head>
   <body>
       <header>
           <div class="background">
               <div class="row">
                   <div class="logo">
                       <img src="https://scontent-lax3-2.cdninstagram.com/vp/2893c4994a646818f0740e206e76a694/5DCF8ED7/t51.2885-15/sh0.08/e35/s640x640/67273609_428482904430149_8192210920566154102_n.jpg?_nc_ht=scontent-lax3-2.cdninstagram.com" alt="Logo" >
                   </div>
               <ul class="navigation-bar">
               <!--<img id="logo" src="../images/logo.jpg" alt="Logo" height=150px width=150px>-->
                   <li class="home"><a href="welcome">HOME</a></li>
                   <li><a href="meals">CREATE YOUR MEAL</a></li>
                   <li><a href="history">HISTORY</a></li>
                   <li><a href="about">ABOUT US</a></li>
                   <li><a href="contact">CONTACT US</a></li>
               </ul>
               </div>
               <div class="footer">
                   <!--<ul class="footer-bar">-->
                       <a>About </a>
                       <a>Contact Us</a>
                       <a>FAQ</a>
                       <a>Legal Notice</a>
                       <a>Privacy Notice</a>
                       <a>Press</a>
                       <a>Promotions</a>
                       <a>Site Map</a>
                   <!--</ul>-->
               </div>
               <!--<div class="title">-->
               <!--<h1>WELCOME TO RISE & DINE!</h1>   -->
               <!--</div>-->
           </div>
           <div class="title">
               <!--<h1>WELCOME TO RISE & DINE!</h1>-->
           </div>

               <!--<div class="title">-->
               <!--<h1>WELCOME TO RISE & DINE!</h1>   -->
               <!--</div>-->
           <!--<div class="button1">-->
           <!--    <h2>Meal Creator</h1>-->
           <!--</div>-->
       </header>
                  <div class = "page-container">
                   <div id = "card1" class = "card">
                       <img class="ai-img" src="./images/ai.jpg" >
                       <h1>   <div class="logo">
                       <img src="https://scontent-lax3-2.cdninstagram.com/vp/2893c4994a646818f0740e206e76a694/5DCF8ED7/t51.2885-15/sh0.08/e35/s640x640/67273609_428482904430149_8192210920566154102_n.jpg?_nc_ht=scontent-lax3-2.cdninstagram.com" alt="Logo" >
                   </div></h1>
                   </div>
                   <div id = "card2" class = "card">
                       <img class="team-img" src="./images/team.jpg">
                       <h1>Okay bro.</h1>
                   </div>
           </div>
           
           
           
           <div class="row">
  <div class="column">
    <img src="https://media.giphy.com/media/l41lKq0zBwUZiUi40/giphy.gif" alt="Snow" style="width:25%">
  </div>
  <div class="column">
    <img src="https://media3.giphy.com/media/3o85xrQOrtDruRndYI/giphy.gif" alt="Forest" style="width:25%">
  </div>
  <div class="column">
    <img src="https://cdnb.artstation.com/p/assets/images/images/010/612/211/original/nelson-wu-16-breakfast-animation-300dpi.gif?1525325796&dl=1" alt="Mountains" style="width:25%">
  </div>
</div>

<h3> Contact Us </h3>
<p1> kokoko</p1>
   </body>
</html>