<!DOCTYPE html>

<head>
    <style type="text/css">
        .container{
            
        }
    </style>
  <meta charset="UTF-8">
  <title>Breakfast 4 You.</title>
  <link rel="stylesheet" href="style.css">
  <link type= "text/css" rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="background">
        <header>

        
        <div class="container">
            {{main_name}} <br>
            <a href={{recipe}}><img  width=50% height=50% src={{image}}></a>
            
            {{side_name}}
        </div>
        
        </header>
    </div>
    <input type = 'submit' value = 'Create'>
</body>
