<!DOCTYPE html>
<!DOCTYPE html>
<html>
    

    <head>
        <meta charset="UTF-8">
        <title>Breakfast 4 You.</title>
        <link rel="stylesheet" href="style1.css">
        <link type= "text/css" rel="stylesheet" href="../static/style1.css">
    </head>
    <body>
        <header>
            <div class="background">
                <div class="row">
                    <div class="logo">
                        <img src="../images/logo.jpg" alt="Logo" >
                    </div>
                <ul class="navigation-bar">
                <!--<img id="logo" src="../images/logo.jpg" alt="Logo" height=150px width=150px>-->
                    <li class="home"><a href="welcome">HOME</a></li>
                    <li><a href="meals">CREATE YOUR MEAL</a></li>
                    <li><a href="history">HISTORY</a></li>
                    <li><a href="about">ABOUT US</a></li>
                    <li><a href="contact">CONTACT US</a></li>
                </ul>
                </div>
            </div>
                <div class="title">
                <h1>WELCOME TO RISE & DINE!</h1>    
                </div>
        </header>
    </body>
</html>