<!DOCTYPE html>
<!DOCTYPE html>
<html>
    

<head>
  <meta charset="UTF-8">
  <title>Breakfast 4 You.</title>
  <link rel="stylesheet" href="style.css">
  <link type= "text/css" rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="background">
        <header>
        <div class="main">
            <ul>
                <img id="logo" src="../images/logo.jpg" alt="Logo" height=150px width=150px>
                <li><a href="welcome">Home</a></li>
                <li><a href="meals">Meals</a></li>
                <li><a href="history">History</a></li>
                <li><a href="explore">Explore</a></li>
            </ul>
            <!--<div class="logo">-->
            <!--     <img src="../images/logo.jpg" alt="Logo" height=150px width=150px>-->
            <!--</div>-->
           
        </div>
       
        
        <!--<div>-->
        <!--    <label for="main">Your Breakfast: </label>-->
        <!--    <p>{{main}}</p>-->
        <!--    <p>{{sides}}</p>-->
        <!--    <p>{{drink}}</p>-->

        <!--</div>-->
    </header>

    </div>
</body>
</html>